.site-header {
    margin:auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width:$s-xl-1;
}

.nav {
    top: 15px;
    position: relative;
    display:flex;
    justify-content: space-between;
}

#project {
    font-family: $primary-font;
    font-size: 30pt;
    font-weight: 800;
    left: 0px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        $primary-color,
        $primary-color 50%,
        $secondary-color 50%);
        background-size: 200% 100%;
        background-position: 0%;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.15s;
}

#about {
    font-family: $primary-font;
    font-size: 30pt;
    font-weight: 300;
    right: 0px;
    cursor: pointer;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        $primary-color,
        $primary-color 50%,
        $secondary-color 50%);
        background-size: 200% 100%;
        background-position: 0%;
    transition: all 0.1s ease-in-out;
}

a#title {
    position: relative;
    top: 10px;
    font-family: $primary-font;
    font-size: 12pt;
    font-weight: 700;
    z-index: 3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        $primary-color,
        $primary-color 50%,
        $secondary-color 50%);
        background-size: 200% 100%;
        background-position: 0%;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.15s;
}
