$primary-font: 'Source Code Pro', monospace;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: orangered;
$secondary-color: white;
$gray: gray;
$black: #181818;
$s-xs-1:320px;
$s-xs-2:509px;
$s-s-1:510px;
$s-s-2:689px;
$s-m-1:690px;
$s-m-2:919px;
$s-l-1:920px;
$s-l-2:1399px;
$s-xl-1:1400px;
